
@tailwind base;
@tailwind components;
@tailwind utilities;


/* CUSTUM CSS   */



/* HEADER  */
#nav-item .active > h2 {
    border-bottom: 1px solid #333;
    font-weight: bold;
     border-bottom: 3pt solid #C9E065;
}


/* SWIPER   */

.slider_swiper   .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    top: 70% !important;
    right: 0px !important;
    left: 20% !important;

}


.swiper_review{
    padding-bottom: 80px !important;
    height: 100%;
}

 .swiper-pagination-bullet{
    background-color: #C9E065 !important;
}

.slider_swiper .swiper-pagination-bullet .swiper-pagination-bullet-active{
    background-color: #1F3D64 !important;
}


/* Home Header CSS */

.nav-content ul li .show {
    display: none;
    color: white !important;
    background: rgba(0, 0, 0, 0.73);
    text-decoration: none;
    list-style-type: none;
  }
  
  .nav-content ul li:hover > .show {
    display: block; 
    background: rgba(0, 0, 0, 0.73);
    border-radius: 2px;
    width: 60%;
    position: absolute;
    top: 70%;
  }


  /* Date Picker CSS */
  .DatePicker{
    width: 100% !important;
  }